@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>On this website you can book auto services. Please go to Garages page.</p>
    <img src="https://motherlesspics.com/uploads/posts/2023-01/1672545043_7-motherlesspics-com-p-porn-negro-dick-9.jpg"/>
	
</div>
